* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.badge {
    height: 60px;
    width: auto;
}

body {
    /* background-color: lightblue; */
    padding: 0;
    margin: 0;
    color: rgb(108, 117, 125);
}

button {
    background: rgba(0, 0, 0, 0);
    border-radius: 24px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    height: 48px;
    min-width: 250px;
    margin: 16px;
}

button:hover {
    background-color: #ffc325;
}

#download-section {
    text-align: center;
    background-color: #ffc325;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: black;
    justify-content: center;
}

.feature {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature > p {
    max-width: 250px;
    /* text-align: center; */
}

#features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#features-headers {
    text-align: center;
}

.gradient-bg {
    background: url("/images/bg-pattern.png"), linear-gradient(to right, #003d6b 0%,#001840 100%);
}

#header-text {
    color: white;
    text-align: center;
    padding: 16px;
}

#quote-text {
    color: white;
    margin-left: 16px;
    margin-top: 24px;
}

#citation-text {
    color: #dddddd;
    text-align: end;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

.horizontalize {
    display: flex;
    flex-direction: row;
}

img {
    max-width: 100%;
    height: auto;
}

.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.verticalize {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .feature {
        width: 50%;
        padding: 16px;
    }
}

